extends layout

block content
  h1= title
  p Welcome to #{title}
  
  #{user}
  if user
    h2 Authenticated
    p.user #{user.email}
    p <a href="/account">Go to Account &rarr;</a>
    p <a href="/oauth/authorise?client_id=papers3&redirect_uri=http://localhost:3000/authenticate">Go to Authorise &rarr;</a>
  else
    h2 Sign-in
    p <a href="/session">Sign in &rarr;</a>


